<script type="text/javascript" src="static/assets/js/popper.min.js"></script>
  <script src="static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="static/assets/vendor/popper.js/umd/popper.min.js"> </script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="static/assets/vendor/jquery.cookie/jquery.cookie.js"> </script>
  <script src="static/assets/vendor/chart.js/Chart.min.js"></script>
  <script src="static/assets/vendor/jquery-validation/jquery.validate.min.js"></script>
  <script src="static/assets/js/charts-home.js"></script>
  <script src="static/assets/js/front.js"></script>