<nav class="side-navbar" style="background-color: rgb(40, 49, 58);">
    <span class="heading"><h4>DASHBOARD</h4></span>    
    <ul class="list-unstyled">
      <li ><a href="#dashboard" aria-expanded="false" data-toggle="collapse"> <i class="fab fa-viadeo"></i>ADMIN</a>
        <ul id="dashboard" class="collapse list-unstyled ">
          <li><a href="admin.html">Admin</a></li>
          
        </ul>
      </li>
       <li><a href="#students"  aria-expanded="false" data-toggle="collapse"> <i class="fab fa-pagelines"></i>Students</a>
        <ul id="students" class="collapse list-unstyled ">
          <li><a href="students.html">All Students</a></li>

        </ul>
      </li>
       <li><a href="#teachers" aria-expanded="false" data-toggle="collapse"> <i class="fab fa-pagelines"></i>Teachers</a>
        <ul id="teachers" class="collapse list-unstyled ">
          <li><a href="teachers.html">All Teachers</a></li>

        </ul>
        </li>
         <li><a href="#staff" aria-expanded="false" data-toggle="collapse">  <i class="fab fa-pagelines"></i>Staff</a>
        <ul id="staff" class="collapse list-unstyled ">
          <li><a href="staff.html">All Staff</a></li>
   
          
        </ul>
        </li>
       <li><a href="#parents" aria-expanded="false" data-toggle="collapse"> <i class="fab fa-pagelines"></i>Parents </a>
        <ul id="parents" class="collapse list-unstyled ">
          <li><a href="parents.html">All Parents</a></li>

        </ul>
      </li>
       
       <li><a href="#account" aria-expanded="false" data-toggle="collapse"><i class="fab fa-pagelines"></i>Account </a>
        <ul id="account" class="collapse list-unstyled ">
          <li><a href="fees.html">All Fees Collection</a></li>
         
        </ul>
      </li>
       <li><a href="#class" aria-expanded="false" data-toggle="collapse"><i class="fab fa-pagelines"></i>Class </a>
        <ul id="class" class="collapse list-unstyled ">
          <li><a href="classes.html">All Classes</a></li>
        
        </ul>
      </li>
       <li><a href="#exam" aria-expanded="false" data-toggle="collapse"><i class="fab fa-pagelines"></i>Exam </a>
        <ul id="exam" class="collapse list-unstyled ">
          <li><a href="grades.html">Exam Grades</a></li>
        </ul>
      </li>
      <li><a href="#"><i class="fab fa-ethereum"></i>Subject </a></li>
      <li><a href="#"><i class="fab fa-ethereum"></i>Class Routine </a></li>
      <li><a href="#"><i class="fab fa-discourse"></i>Transport </a></li>
      <li><a href="#"><i class="fab fa-hubspot"></i>Hostel </a></li>
      <li><a href="#"><i class="fab fa-raspberry-pi"></i>Notice </a></li>
      <li><a href="#"><i class="fab fa-superpowers"></i>Message </a></li>
    </ul>
  </nav>