{% extends "layouts/index-Screen.html" %}

{% block title %} Fees {% endblock %} 


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	
<div class="page">
    <!-- Main Navbar-->
    {% include 'includes/header-nav.html' %}
    <div class="page-content d-flex align-items-stretch"> 
      <!-- Side Navbar -->
      {% include 'includes/sidebar.html' %}
      <div class="content-inner">
        <!-- Page Header-->
        <header class="page-header">
          <div class="container-fluid">
            <h2 class="no-margin-bottom">FEES</h2>
          </div>
        </header>
<section>
    <div class="row">
       <!-- Basic Form-->
       <div class="col-lg-12">
         <div class="card">
           


            
         </div>
       </div>
    </div>
  </section>

  {% include 'includes/footer.html' %}
</div>
</div>
</div>


{% endblock content %}


{% block javascripts %}



{% endblock javascripts %}
